@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* 主题 */
@theme {
  /* 左侧渐隐阴影 */
  --shadow-l-white: -10px 0 10px white;

  /* 头部高度 */
  --height-header: 75px;

  /* 主要内容区域高度 */
  --height-main: calc(100dvh - var(--height-header));
}

/* 工具类 */
@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE 和 Edge 浏览器 */
    scrollbar-width: none; /* Firefox 浏览器 */
    -webkit-overflow-scrolling: touch; /* iOS Safari */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* 隐藏 Webkit 浏览器的滚动条 */
  }
}
